.place__image {
  width: 460px;
  height: auto;
  grid-column: 1;
  grid-row: 2/3;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 928px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 719px) {
  .place__image {
    grid-row: 3;
    width: 320px;
  }
}