.cover__subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  z-index: 50;
  top: 239px;
  left: 412px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 360px;
}

@media screen and (max-width: 1184px) {
  .cover__subtitle {
    top: 214px;
    left: 332px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 134px;
    left: 204px;
  }
}

@media screen and (max-width: 793px) {
  .cover__subtitle {
    top: 64px;
    left: 32px;
    font-size: 14px;
    line-height: 16px;
    width: 258px;
  }
}   
  