.header {
  margin: 28px 48px 0;
  padding: 0;
  height: 52px;
  display: grid;
  grid-template-columns: repeat(2, 30px);
  justify-content: flex-end;
  align-content: center;
  gap: 18px;
}

@media screen and (max-width: 348px) {
  .header{
    height: 42px;
    margin: 16px 16px 16px 0;
  }
}