.place__paragraph {
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 26px;
}


@media screen and (max-width: 928px) {
  .place__paragraph{
    font-size: 16px;
  }
}

@media screen and (max-width: 719px) {
  .place__paragraph{
    row-gap: 25px;
    padding: 0 16px;
  }
}