.cover__title {
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  top: 219px;
  left: 312px;
  z-index: 50;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 552px;
}

@media screen and (max-width: 1184px) {
  .cover__title {
    top: 195px;
    left: 240px;
    
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    top: 115px;
    left: 112px;
  }
}

@media screen and (max-width: 793px) {
  .cover__title {
    top: 38px;
    left: 40px;
    width: 245px;
    font-size: 32px;
    line-height: 35px;    
  }
}